.banniere {
margin-bottom: 50px;
}

.dates {
    background-color: var(--beige);
    padding: 30px;
    width: 80%;
    position: relative;
    left: -11%;
    z-index: -1;
}

.oeuvre {
    margin-top: -35px;
    margin-left: 5%;
}

.lieu {
    background-color: var(--beige);
    padding: 20px;
    position: relative;
    margin-top: -40px;
    z-index: 1;
    text-align: center;
    font-size: var(--h4);
}

