.menu {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: grid;
    place-content: center;
}

.header__menubtn {
    position: relative;
    z-index: 10;
}

.noscroll {
    overflow: hidden;
}